<div class="row">
  <div class="col-xs-12">
    <img
      [src]="inRecipe.imagePath"
      alt="{{ inRecipe.name }}"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ inRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer;" (click)="onAddIngr()">Add Ingredients</a>
        </li>
        <li>
          <a style="cursor: pointer;" [routerLink]="['/recipes', recId, 'edit']"
            >Edit Recipe</a
          >
        </li>
        <li>
          <a style="cursor: pointer;" (click)="onDelete()">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ inRecipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingred of inRecipe.ingredients">
        {{ ingred.name }} ({{ ingred.amount }})
      </li>
    </ul>
  </div>
</div>
